@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0a0f24;
  color: white;
  font-family: 'Roboto';
}

html,
body {
  width: 95%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
